.header-img {
    background-image: url(assets/green_room1\ -\ Copy\ \(4\).jpeg);
    height: 100vh;
    width: 50%;
}

.header {
    display: flex;
    flex-direction: row;
}

.sub-title {
    text-transform: uppercase;
    color: gray;
}
